{% extends 'sympli/base_en.html' %}
{% load staticfiles %}

{% block title_block %}
  {{title}}
{% endblock %}

{% block body_block %}
 	<div class="container">
  {% for article in articles %}

	  <div class="article col-md-4 col-lg-4 col-xs-12">
	  	<img src="{{article.content_source.logo_image.url}} " class="" width="60" height="30" style="float: left; margin-right:10px;">
	  	<p>من {{article.content_source.title}}</p>
	  	
	  	<div class="thumbnail_container">
	  	<img src=" {{article.thumbnail_image.url}} " class="img-responsive thumbnail_image" style="width: 373px;height: 214px;">

	  	<div class="middle container">
	  	<div class="row">
    		<div class="text col-md-12 col-xs-12">
	            <div class="call-to-action" style="text-align: center;">
	            	<p class="lead">شارك على</p>
	            </div>
	            <ul>
	            	<li><a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a></li>
	            </ul>
          	</div>
          </div>
  		</div>

  		</div>
	  	
	  	<div class="pub_date" class="title" >
	  		<p class="pub_date"> {{article.pub_date}} </p>
	  		<a href=" {{article.article_link}} " target="_blank"> {{article.title}} 
	  		</a>
	  	</div>
	  </div>
	  
   {% endfor %}
  </div>


{% endblock %}



