{% extends 'sympli/base_amp.html' %}
{% load staticfiles %}

{% block canonical_block %}
  <link rel="canonical" href="{{ request.get_full_path }}">
{% endblock %}

{% block title_block %}
  
  {{title}}

{% endblock %}

{% block jsonld_block %}
<!--   <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "headline": "{{article.title}}",
  "alternativeHeadline": "{{article.title}}",
  "image": [
    "{{article.thumbnail_image.url}}",
  ],
  "datePublished": "{{article.pub_date}}",
  "description": "An article about {{article.title}}",
}
</script> -->
{% endblock %}

{% block body_block %}
<div class="row">
      <ul class="breadcrumb nav-list">
        {% if title == "أخباري ببساطه"%}
         <li></li>

        {% else %}
        <li> {{title}} </li>

        {% endif %}
        <!-- <li><a href="/{{article.category}}">{{article.content_source.title}}</a></li> -->
        <li><a href="/">الصفحه الاولى</a></li>
      </ul>
      </div>
 <div class="container infinite-container">
  {% for article in articles %}

	  <div class="article infinite-item">
	  	<a href="{{article.content_source.link}}" title="{{article.content_source.title}}">
        {% if article.content_source.id == 20 or article.content_source.id == 21 or article.content_source.id == 22 or article.content_source.id == 23 %}

        <amp-img src="{{article.content_source.logo_image.url}} " alt="{{article.content_source.description}}" class="art_logo" width="250" height="50" layout="fixed"></amp-img>

        {% elif article.content_source.id == 1 or article.content_source.id == 2 or article.content_source.id == 5 %}
        <amp-img src="{{article.content_source.logo_image.url}} " alt="{{article.content_source.description}}" class="art_logo" width="115" height="70" layout="fixed"></amp-img>


        {%else%}
        <amp-img src="{{article.content_source.logo_image.url}} " alt="{{article.content_source.description}}" class="art_logo" width="115" height="70" layout="fixed"></amp-img>

        {%endif%}
      </a>

	  	<p>من {{article.content_source.title}}</p>
	  	
	  	<div class="thumbnail_container">
        <!--This is because alarabya and others does not allow to pu their content in iframe-->
        {% if article.content_source.id == 9 or article.content_source.id == 5 or article.content_source.id == 7 or article.content_source.id == 1 or article.content_source.id == 8  %}
        <a target="_blank" href="{{article.article_link}} " title="{{article.title}} - سوف يفتح المقال في مبوبه جديده">
          {% else %}

	  	  <a title="{{article.title}}" href="{% url 'sympli:show_article' article.category article.id %} ">

          {% endif %}
        <amp-img src=" {{article.thumbnail_image.url}} " alt="Article Thumbnail" class="art_img thumbnail_image" width="373" height="214"  layout="responsive"></amp-img>

      </a>

	  	<!-- <div class="middle container">
	  	<div class="row">
    		<div class="text">
	            <div class="call-to-action" style="text-align: center;">
	            	<p class="lead">شارك على</p>
	            </div>
	            <ul class="fas">
	            	<li><a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a></li>
	            </ul>
        </div>
      </div>
  		</div> -->

  		</div>
	  	
	  	<div class="pub_date" class="title" >
	  		<p class="pub_date"> {{article.pub_date}} </p>
        <!-- To avoid putting alarabiya in iFrame as they don't allow it -->
        {% if article.content_source.id == 9 or article.content_source.id == 5 or article.content_source.id == 7 or article.content_source.id == 1 or article.content_source.id == 8 %}
        <a title="{{article.title}} - سوف يفتح المقال في مبوبه جديده" href="{{article.article_link}}" target="_blank"> 
          {{article.title}}<amp-img src=" {% static 'images/new.svg' %} " alt="This article will open in new tab" width="15" height="15"  layout="fixed" class="new"></amp-img>
        </a>
	  		

        {% else %}
        <a href=" {% url 'sympli:show_article' article.category article.id %} "> {{article.title}} 
        </a>
        
          {% endif %}
	  	</div>
	  </div>
	  
   {% endfor %}
  </div>

  <!-- 1 -->
  <div class="container-center">

     {% if articles.has_previous %}
    <a class="infinite-more-link text-center" href="?page={{ articles.previous_page_number }}" title="السابق">السابق</a>
  {% endif %}


   {% if articles.has_next %}
    <a class="infinite-more-link text-center" href="?page={{ articles.next_page_number }}" title="التالي">التالي</a>
  {% endif %}
</div>

<!--   <div class="loading" style="display: none;">
    Loading...
  </div> -->


        <!-- <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
        $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
        $('.loading').hide();
        }
      });
    </script> -->
{% endblock %}



