{% extends 'sympli/base.html' %}
{% load staticfiles %}

{% block canonical_block %}
  <link rel="canonical" href="{{ request.get_full_path }}">
{% endblock %}

{% block title_block %}
  
  {{title}}

{% endblock %}

{% block jsonld_block %}
<!--   <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "headline": "{{article.title}}",
  "alternativeHeadline": "{{article.title}}",
  "image": [
    "{{article.thumbnail_image.url}}",
  ],
  "datePublished": "{{article.pub_date}}",
  "description": "An article about {{article.title}}",
}
</script> -->
{% endblock %}

{% block body_block %}
<div class="row">
      <ul class="breadcrumb nav-list">
        {% if title == "أخباري ببساطه"%}
         <li></li>

        {% else %}
        <li> {{title}} </li>

        {% endif %}
        <!-- <li><a href="/{{article.category}}">{{article.content_source.title}}</a></li> -->
        <li><a href="/">الصفحه الاولى</a></li>
      </ul>
      </div>
 <div class="container infinite-container">
  {% for article in articles %}

	  <div class="article infinite-item">
	  	<a href="{{article.content_source.link}}" title="{{article.content_source.title}}">
        {% if article.content_source.id == 20 or article.content_source.id == 21 or article.content_source.id == 22 or article.content_source.id == 23 %}

        <amp-img src="{{article.content_source.logo_image.url}} " alt="{{article.content_source.description}}" class="art_logo" width="90" height="70" layout="fixed"></amp-img>

        {% elif article.content_source.id == 1 or article.content_source.id == 2 or article.content_source.id == 5 %}
        <amp-img src="{{article.content_source.logo_image.url}} " alt="{{article.content_source.description}}" class="art_logo" width="115" height="70" layout="fixed"></amp-img>


        {%else%}
        <amp-img src="{{article.content_source.logo_image.url}} " alt="{{article.content_source.description}}" class="art_logo" width="115" height="70" layout="fixed"></amp-img>

        {%endif%}
      </a>

	  	<p>من {{article.content_source.title}}</p>
	  	
	  	<div class="thumbnail_container">
        <!--This is because alarabya and others does not allow to pu their content in iframe-->
        {% if article.content_source.id == 9 or article.content_source.id == 5 or article.content_source.id == 7 or article.content_source.id == 1 or article.content_source.id == 8  %}
        <a target="_blank" href="{{article.article_link}} " title="{{article.title}} - سوف يفتح المقال في مبوبه جديده">
          {% else %}

	  	  <a title="{{article.title}}" href="{% url 'sympli:show_article' article.category article.id %} ">

          {% endif %}
        <amp-img src=" {{article.thumbnail_image.url}} " alt="Article Thumbnail" class="art_img thumbnail_image" width="373" height="214"  layout="responsive"></amp-img>

      </a>

	  	<!-- <div class="middle container">
	  	<div class="row">
    		<div class="text">
	            <div class="call-to-action" style="text-align: center;">
	            	<p class="lead">شارك على</p>
	            </div>
	            <ul class="fas">
	            	<li><a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
		            <li><a href='#'><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a></li>
	            </ul>
        </div>
      </div>
  		</div> -->

  		</div>
	  	
	  	<div class="pub_date" class="title" >
	  		<p class="pub_date"> {{article.pub_date}} </p>
        <!-- To avoid putting alarabiya in iFrame as they don't allow it -->
        {% if article.content_source.id == 9 or article.content_source.id == 5 or article.content_source.id == 7 or article.content_source.id == 1 or article.content_source.id == 8 %}
        <a title="{{article.title}} - سوف يفتح المقال في مبوبه جديده" href="{{article.article_link}}" target="_blank"> 
          {{article.title}}<amp-img src=" {% static 'images/new.svg' %} " alt="This article will open in new tab" width="15" height="15"  layout="fixed" class="new"></amp-img>
        </a>
	  		

        {% else %}
        <a href=" {% url 'sympli:show_article' article.category article.id %} "> {{article.title}} 
        </a>
        
          {% endif %}
	  	</div>
	  </div>
	  
   {% endfor %}
  </div>

  <!-- 1 -->
  <div class="container-center">

     <!-- {% if articles.has_previous %}
    <a class="infinite-more-link text-center" href="?page={{ articles.previous_page_number }}" title="السابق">السابق</a>
  {% endif %} -->


   {% if articles.has_next %}
    <a class="infinite-more-link text-center" href="?page={{ articles.next_page_number }}" ></a>
  {% endif %}
</div>

  <div class="loader loader--style1" title="0">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="100px" height="100px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>


        <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
        $('.loader').show();
        },
        onAfterPageLoad: function ($items) {
        $('.loader').hide();
        }
      });
    </script>
{% endblock %}



